﻿@using WebAppMVC.Infrastructure
@model WebAppMVC.ViewModels.HomeViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Main page";
}
<nav class="genres-horizontal">
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>
                <a href="@Url.Action("List", "Store", new {categoryName = category.Name.ToLower()})"
                   style="background-image: url(@Url.CategoriesIconPath(category.IconFilename));">
                    @category.Name

                </a>
            </li>
        }
    </ul>
</nav>
<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var bestProduct in Model.BestProducts)
        { 
            <li>
                <article>
                    <a class="addtocartlink" href="aaaa">
                        <img src="../Content/Images/Site/cart.png" />
                    </a>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new {id = bestProduct.ProductId})">
                        <div class="bestsellerFlag"></div>
                        <img class="album-cover" src="@Url.PhotosPath(bestProduct.ImageFileName)" />
                        <h1>
                            @bestProduct.Name
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>
<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var newProduct in Model.NewProducts)
        {
            <li>
                <article>
                    <a class="addtocartlink" href="aaaa">
                        <img src="../Content/Images/Site/cart.png" />
                    </a>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new {id = newProduct.ProductId})">
                        <div class="newFlag"></div>
                        <img class="album-cover" src="@Url.PhotosPath(newProduct.ImageFileName)" />
                        <h1>
                            @newProduct.Name
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>



        @*@<ul class="ThreeColumnsCoversList large-cover-list">
                        <li>
                            <article>
                                <a class="addtocartlink" href="aaaa">
                                    <img src="../Content/Images/Site/cart.png" />
                                </a>
                                <a class="productdetailslink" href="asd">
                                    <div class="newFlag"></div>
                                    <img class="album-cover" src="../Content/Images/Photos/1.png" />
                                    <h1>
                                        Testowy obrazek
                                    </h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="addtocartlink" href="aaaa">
                                    <img src="../Content/Images/Site/cart.png" />
                                </a>
                                <a class="productdetailslink" href="asd">
                                    <div class="newFlag"></div>
                                    <img class="album-cover" src="../Content/Images/Photos/2.png" />
                                    <h1>
                                        Testowy obrazek
                                    </h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="addtocartlink" href="aaaa">
                                    <img src="../Content/Images/Site/cart.png" />
                                </a>
                                <a class="productdetailslink" href="asd">
                                    <div class="newFlag"></div>
                                    <img class="album-cover" src="../Content/Images/Photos/3.png" />
                                    <h1>
                                        Testowy obrazek
                                    </h1>
                                </a>
                            </article>
                        </li>
                    </ul>
            </section>

                <section>
                    <ul class="ThreeColumnsCoversList large-cover-list">
                        <li>
                            <article>
                                <a class="addtocartlink" href="aaaa">
                                    <img src="../Content/Images/Site/cart.png" />
                                </a>
                                <a class="productdetailslink" href="asd">
                                    <div class="bestsellerFlag"></div>
                                    <img class="album-cover" src="../Content/Images/Photos/1.png" />
                                    <h1>
                                        Testowy obrazek
                                    </h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="addtocartlink" href="aaaa">
                                    <img src="../Content/Images/Site/cart.png" />
                                </a>
                                <a class="productdetailslink" href="asd">
                                    <div class="bestsellerFlag"></div>
                                    <img class="album-cover" src="../Content/Images/Photos/2.png" />
                                    <h1>
                                        Testowy obrazek
                                    </h1>
                                </a>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="addtocartlink" href="aaaa">
                                    <img src="../Content/Images/Site/cart.png" />
                                </a>
                                <a class="productdetailslink" href="asd">
                                    <div class="bestsellerFlag"></div>
                                    <img class="album-cover" src="../Content/Images/Photos/3.png" />
                                    <h1>
                                        Testowy obrazek
                                    </h1>
                                </a>
                            </article>
                        </li>
                    </ul>*@
</section>

@*<a href="">
        <img id="baner-main" src="../Content/Images/Site/baner-main.png" />
    </a>*@