﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/CSS/HTMLPrototype.css")" rel="stylesheet" />
</head>
<body>
<header>
    <div style="overflow: hidden;">
        <a id="facebook-header" href="http://www.ikea.com/pl">
            REAL IKEA WEBSITE
        </a>
        <a id="cart-header-link" href="">
            CART (0)
            <span></span>
        </a>
    </div>
    <a id="main-header-logo" href="@Url.Content("~/")">
        <img src="@Url.Content("~/Content/Images/Site/logo-main.png")" class="center" alt=""/>
    </a>
</header>
<div>
    @RenderBody()
</div>
<footer>
    <nav>
        <ul>
            <li><a href="@Url.Content("~/")">Home</a></li>
            <li><a href="@Url.Action("StaticContent", "Home", new {viewname = "about"})">About</a></li>
            <li><a href="@Url.Action("StaticContent", "Home", new {viewname = "contact"})">Contact</a></li>
            <li><a href="@Url.Action("StaticContent", "Home", new {viewname = "newsletter"})">Newsletter</a></li>
            <li><a href="@Url.Action("StaticContent", "Home", new {viewname = "privacypolicy"})">Privacy Policy</a></li>
            <li><a href="@Url.Action("StaticContent", "Home", new {viewname = "sizeguide"})">Size Guide</a></li>
        </ul>
    </nav>
    <div id="footer-cd-logo">
        <img src="@Url.Content("~/Content/Images/Site/footer-cd.png")" alt=""/>
    </div>
    <div id="footer-copyright">
        Copyright &copy; 2017 Krystian Trubisz
    </div>
</footer>
    @RenderSection("ScriptsBottom", required:false)
</body>
</html>
