﻿html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Main page styles */

body {
    width: 1000px;
    margin: auto;
    font-family: 'Segoe UI';
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#facebook-header {
    width: 135px;
    height: 42px;
    background-color: #003399;
    color: #ffcc00;
    float: left;
    line-height: 40px;
    font-size: 14px;
    padding-left: 20px;
}

#cart-header-link {
    width: 143px;
    height: 42px;
    background-color: #003399;
    color: #ffcc00;
    float: right;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

    #cart-header-link > span {
        width: 42px;
        height: 42px;
        background-color: #003399;
        float: right;
        background-image: url(../Images/Site/cart_white.png);
        background-repeat: no-repeat;
        background-position: center;
    }

#main-header-logo {
    margin-top: 25px;
    margin-bottom: 35px;
    display: block;
}

#baner-main {
    vertical-align: top;
}

nav.genres-horizontal ul {
    overflow: hidden;
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    font-size: 18px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
}

    nav.genres-horizontal ul li {
        margin: auto;
        float: left;
        width: 332px;
        /*padding-left: 50px;*/
        height: 54px;
        text-align: left;
        border-right: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        line-height: 54px;
    }

        nav.genres-horizontal ul li a {
            width: 100%;
            display: block;
            height: 100%;
            padding-left: 127px;
            background-repeat: no-repeat;
            background-position-x: 50px;
            background-position-y: 50%;
        }

        nav.genres-horizontal ul li:hover {
            -moz-box-shadow: inset 0 0 3px #bbbbbb;
            -webkit-box-shadow: inset 0 0 3px #bbbbbb;
            box-shadow: inset 0 0 3px #bbbbbb;
        }


#productlist-content {
    overflow: hidden;
}

#productlist-rightsection {
    float: left;
    margin-left: 29px;
}

#breadcrumb-section {
    height: 28px;
}

    #breadcrumb-section a {
        margin-left: 5px;
        width: 200px;
        font-size: 14px;
    }


nav.genres-vertical {
    width: 202px;
    font-size: 18px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
    border-right: 1px solid #E5E5E5;
    float: left;
}

    nav.genres-vertical ul li {
        height: 50px;
        line-height: 50px;
    }

        nav.genres-vertical ul li:hover {
            background-color: #EBEBEB;
        }

        nav.genres-vertical ul li a {
            width: 100%;
            display: block;
            height: 100%;
            padding-left: 75px;
            background-repeat: no-repeat;
            background-position-x: 5px;
            background-position-y: 50%;
        }

#productlist-section {
    width: 768px;
    margin-top: 20px;
}

ul.large-cover-list li {
    width: 333.33px;
    height: 333.33px;
}

    ul.large-cover-list li a h1 {
        top: 45%;
    }

    ul.large-cover-list li a:hover h1 {
        top: 46%;
    }

ul.small-cover-list li {
    width: 256px;
    height: 256px;
}

    ul.small-cover-list li a h1 {
        top: 40%;
    }

    ul.small-cover-list li a:hover h1 {
        top: 41%;
    }


ul.ThreeColumnsCoversList {
    overflow: hidden;
    list-style-type: none;
    font-size: 18px;
}

    ul.ThreeColumnsCoversList li {
        float: left;
        position: relative;
        /*opacity: 0.2;*/
    }

        ul.ThreeColumnsCoversList li article {
            height: 100%;
        }

        ul.ThreeColumnsCoversList li a.addtocartlink {
            position: absolute;
            right: 0;
            bottom: 0;
        }

            ul.ThreeColumnsCoversList li a.addtocartlink img {
                z-index: 2;
                position: relative;
                vertical-align: top;
            }

        ul.ThreeColumnsCoversList li a.productdetailslink {
            display: block;
            height: 100%;
        }

        ul.ThreeColumnsCoversList li a h1 {
            background-color: rgba(255, 255, 255, 0);
            vertical-align: central;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
            font-weight: normal;
            /* More intensive album title */
            /* font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI'; */
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

        ul.ThreeColumnsCoversList li a:hover h1 {
            background-color: rgba(255, 255, 255, 0.85);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        ul.ThreeColumnsCoversList li a img.album-cover {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.1;
            -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
        }

        ul.ThreeColumnsCoversList li a:hover img.album-cover {
            opacity: 0.8;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            -moz-transition: opacity 1s ease;
            transition: opacity 1s ease;
        }


div.newFlag {
    background-image: url(../Images/Site/new.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div.bestsellerFlag {
    background-image: url(../Images/Site/bestseller.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content-section {
    width: 748px;
    float: left;
    margin-top: 30px;
    padding-left: 20px;
}

div.section-header {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 25px;
}

    div.section-header h1 {
        width: 742px;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Segoe WP SemiBold';
        margin-bottom: 10px;
        margin-left: 20px;
    }

#cart-table {
    width: 100%;
    border-collapse: collapse;
}

    #cart-table tr {
        border-bottom: 1px solid #DADADA;
    }

        #cart-table tr td {
            padding-top: 25px;
            padding-bottom: 25px;
            vertical-align: middle;
        }

            #cart-table tr td img {
                width: 138px;
                height: 138px;
            }

            #cart-table tr td:nth-child(1) {
                width: 138px;
                height: 138px;
                vertical-align: middle;
            }

            #cart-table tr td:nth-child(2) {
                width: 300px;
                padding-left: 15px;
                text-align: left;
            }

            #cart-table tr td:nth-child(3) {
                width: 60px;
                text-align: center;
            }

            #cart-table tr td:nth-child(4) {
                width: 160px;
                text-align: center;
            }

            #cart-table tr td:nth-child(5) {
                width: 70px;
                text-align: center;
            }

.section-button-container {
    overflow: hidden;
}

    .section-button-container a:nth-child(1) {
        float: left;
    }

    .section-button-container a:nth-child(2) {
        float: right;
    }

#total-price {
    width: 100%;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 60px;
    font-family: 'Segoe UI SemiBold';
    font-size: 18px;
}

.button-link {
    height: 40px;
    background-color: #595959;
    color: #dfdfdf;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 38px;
    padding: 2px 15px 2px 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

    a.button-link:visited, a.button-link:link, a.button-link:active {
        color: #dfdfdf;
    }

footer {
    width: 100%;
    height: 42px;
    background-color: #003399;
    margin-top: 75px;
    overflow: hidden;
}

    footer nav {
        display: table;
        overflow: hidden;
        height: 100%;
        float: left;
    }

        footer nav ul {
            display: table-cell;
            vertical-align: middle;
        }

            footer nav ul li {
                font-size: 14px;
                color: white;
                float: left;
                margin-left: 55px;
            }

                footer nav ul li a, footer nav ul li a:hover, footer nav ul li a:visited, footer nav ul li a:active, footer nav ul li a:link {
                    color: white;
                }

                    footer nav ul li a:hover {
                        text-decoration: underline;
                        color: white;
                    }

                    footer nav ul li a:visited {
                        color: white;
                    }

    footer #footer-cd-logo {
        float: right;
        margin-top: 8px;
    }

    footer #footer-copyright {
    width: 245px;
    float: right;
    background-color: #ffcc00;
    line-height: 42px;
    height: 100%;
    font-size: 14px;
    color: #003399;
    padding-left: 15px;
    font-weight: bold;
}

/*nav ul li {
        margin: auto;
        float: left;
        width: 282px;
        padding-left: 50px;
        height: 54px;
        text-align: left;
        border-right: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        line-height: 54px;
    }

        nav ul li a {
            width: 100%;
            height: 100%;
        }

            nav ul li a img {
                vertical-align: middle; 
                margin-right: 30px;
            }*/
